body
  //padding-top: 70px  For fixed-header only

/*.flex-container
  display: flex
  align-content: flex-start
  flex-wrap: nowrap
  justify-content: center*/

.info-nav-tab
  color: grey
  font-size: 0.9em
  text-align: center

.project-box-container
  padding: 1em
.project-box
  background: silver
  display: block
  height: 20vmax
  max-width: 100%
  //flex-grow: 0

.p-wrapper
  padding: 1em
  p
    margin-bottom: 0

footer
  margin-top: 2em
