body
  //padding-top: 70px  For fixed-header only

/*.flex-container
  display: flex
  align-content: flex-start
  flex-wrap: nowrap
  justify-content: center*/
.project-box
  max-width: 100%
  //flex-grow: 0

.p-wrapper
  padding: 1em
  p
    margin-bottom: 0
