<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <a href="#">Website name</a>
        | Student Summary
      </span>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav nav-tabs">
        <li><a href="#">Home</a></li>
        <!-- Log In btn
        <li class="pull-right"><p class="navbar-btn"><a href="#" class="btn btn-info" role="button">Log In</a></p></li>
        -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="well container-fluid">
    <div class='row'>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Project</th>
            <th>Hours done</th>
            <th>Credits</th>
          </tr>
        </thead>
        <tbody id='ceo-student-projects-tbody'>
          <tr>
            <td>Vegfest website</td>
            <td>
              <input type="text" class="form-control" value='53' disabled />
            </td>
            <td>
              <input type="text" class="form-control" value='1' disabled />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='row'>
      <div class="col-sm-12 col-md-offset-8 col-md-3">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge" id='total-hours'></span>
            Total hours
          </li>
          <li class="list-group-item">
            <span class="badge" id='total-credits'></span>
            Credits
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="well">
    <table class="table table-condensed table-hover table-striped">
      <caption>Pending approvals</caption>
      <thead>
        <tr>
          <th>Month</th>
          <th>Project</th>
          <th>Work done</th>
          <th>Hours</th>
          <th>Credits</th>
          <th></th>
        </tr>
      </thead>
      <tbody id='pending-approvals-tbody'>
        <tr>
          <td>September</td>
          <td>Vegfest website</td>
          <td>Some text, short one.</td>
          <td>42</td>
          <td>1</td>
          <td>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-success approve-btn">Approve</button></div>
                <div class="col-xs-5 col-sm-5"><button type="button" class="btn btn-danger reject-btn">Reject</button></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>September</td>
          <td>LISP compiler</td>
          <td>Some text, looonger one. Some text, looonger one. Some text, looonger one. Some text, looonger one.</td>
          <td>26</td>
          <td>0</td>
          <td>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-success approve-btn">Approve</button></div>
                <div class="col-xs-5 col-sm-5"><button type="button" class="btn btn-danger reject-btn">Reject</button></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>October</td>
          <td>LISP compiler</td>
          <td>Some text, short one.</td>
          <td>101</td>
          <td>3</td>
          <td>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-6 col-sm-6"><button type="button" class="btn btn-success approve-btn">Approve</button></div>
                <div class="col-xs-5 col-sm-5"><button type="button" class="btn btn-danger reject-btn">Reject</button></div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted pull-right">the FIRMA 2016</p>
  </div>
</footer>
</body>
