<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand">
          <a href="#">Website name</a>
          | Work done form
        </span>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav nav-tabs">
          <li><a href="#">My projects</a></li>
          <li class="disabled"><a href="#">Edit projects</a></li>
          <li class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Juho Häkkinen
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="info-nav-tab">NTIVIS99</li>
              <li class="info-nav-tab">1090 hours worked</li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
          <!-- Log In btn
          <li class="pull-right"><p class="navbar-btn"><a href="#" class="btn btn-info" role="button">Log In</a></p></li>
          -->
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <form class="form">
      <div class="form-group">
        <label for="date-input">Date</label>
        <input type='text' class="form-control" id='date-input' required />
      </div>
      <div class="form-group">
        <label for="start-time-input">Start</label>
        <input type="time" class="form-control" id="start-time-input" required />
      </div>
      <div class="form-group">
        <label for="end-time-input">End</label>
        <input type="time" class="form-control" id="end-time-input" required />
      </div>
      <div class="form-group">
        <textarea id='description-input' class="form-control" rows="3" placeholder='Describe the work done.' required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted pull-right">the FIRMA 2016</p>
  </div>
</footer>
</body>
